@font-face {
    font-family: 'FontLight';
    src: url('k_font-light.eot');
    src: url('k_font-light.eot?#iefix') format('embedded-opentype'),
    	   url('k_font-light.svg#FontLight') format('svg'),
         url('k_font-light.woff') format('woff'),
         url('k_font-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontRegular';
    src: url('k_font-regular.eot');
    src: url('k_font-regular.eot?#iefix') format('embedded-opentype'),
    		 url('k_font-regular.svg#FontRegular') format('svg'),
         url('k_font-regular.woff') format('woff'),
         url('k_font-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontBold';
    src: url('k_font-bold.eot');
    src: url('k_font-bold.eot?#iefix') format('embedded-opentype'),
    	   url('k_font-bold.svg#FontBold') format('svg'),
         url('k_font-bold.woff') format('woff'),
         url('k_font-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

